#skills {
	position: absolute;

	margin-top: 92rem;
	width: 100%;
	height: 100%;
	padding-bottom: 100rem;
}

section .titulo-skills {
	text-align: center;
	margin: 7rem 0;
}

.titulo-skills h2 {
	font-size: 5rem;
	font-weight: 600;
	text-shadow: 2px 2px 4px rgba(244, 233, 233, 0.5);
}

.cards img {
	width: 50px;
	margin-top: 10px;
	filter: drop-shadow(5px 0 0 rgba(19, 53, 60, 0.358));
}

#skills .card-titulo {
	font-size: 15px;
}

#skills div.card-body:hover {
	background: linear-gradient(145deg, #ffffff, #dadad8);
	box-shadow: 20px 20px 60px #cececc, -20px -20px 60px #ffffff,
		5px 10px 15px 0px #4a869a;
	transition: 0.4s;
}

#skills div.card-body:hover img {
	filter: brightness(90%) saturate(200%) invert(15%) sepia(80%)
		hue-rotate(195deg) brightness(110%) contrast(90%);
}

/* Responsive */

@media (max-width: 1024px) {
	section.skills {
		margin-top: 207rem;
	}
	#skills {
		margin-top: 202rem;
		padding-bottom: 130.5rem;
	}
}

@media (max-width: 768px) {
	#skills {
		margin-top: 263rem;
		padding-bottom: 164rem;
	}

	section .titulo-skills {
		margin-top: 17rem;
	}
}

@media (max-width: 425px) {
	#skills {
		margin-top: 373rem;
		padding-bottom: 354rem;
	}
	section div.cards {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#habilidades {
		height: 300rem !important;
	}
}
