.portada {
	width: 750px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.inicio {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-40%, -35%);
}
.hola {
	font-style: italic;
	font-weight: 700;
	font-size: 6rem;
	margin: 10rem auto;
	background-color: #9b9b9b8f;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: #ffffffc1 0px 5px 15px;
	margin-bottom: 3rem;
	display: inline-block;
}

.soy {
	font-style: italic;
	font-weight: 900;
	font-size: 6rem;
	margin: 0 auto;
	background-color: #9b9b9b8f;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: #ffffffc1 0px 5px 15px;
	margin-bottom: 3rem;
	display: inline-block;
}
.titulo {
	font-size: 4.5rem;
	margin-left: 55px;
	color: rgba(0, 0, 0, 0.75);
	font-family: 'Merriweather', serif !important;
	font-style: italic;
	font-weight: 400;
	white-space: nowrap;
	border-right: 4px solid #007ea7;
	width: 490px;
	animation: typing 4s infinite steps(21), blink infinite,
		alternate 0.5s infinite step-start alternate;
	animation-direction: alternate;
	overflow: hidden;
	display: inline-block;
}

button.navbar-toggler {
	padding: 1rem !important;
}

/* image */

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

#inicio {
	height: 100vh;
}

.inicio div img {
	margin-left: 5rem;
	position: relative;
}

@keyframes animacion {
	0% {
		top: 0;
	}
	50% {
		top: 5rem;
	}
	100% {
		top: 0;
	}
}

@media (max-width: 1024px) {
	.inicio div img {
		width: 320px;
	}
	.hola {
		margin: 3rem auto;
	}
	.portada {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.inicio {
		flex-direction: column;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.inicio div img {
		margin: 0 auto;
		width: 400px;
		margin-top: 5rem;
	}

	.inicio div.img {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		height: auto;
	}
	.soy,
	.hola {
		font-size: 5rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	#inicio {
		padding-top: 15rem;
	}
	.switch {
		margin-top: 20px;
	}
}

@media (max-width: 425px) {
	.portada {
		width: 300px;
		margin: 4rem;
	}
	.titulo {
		font-size: 2.5rem;
		width: 270px;
		margin-left: 0;
	}
	.soy,
	.hola {
		font-size: 3rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	#inicio {
		padding-top: 20rem;
	}
}

/* @media (max-width: 320px) {
	.soy,
	.hola {
		font-size: 5rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.titulo {
		font-size: 1.5rem;
		width: 160px;
		margin-left: 0;
	}

	.portada {
		margin-top: 1rem;
		width: 200px;
	}

	#inicio {
		padding-top: 10rem;
	}
} */
