@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,900&display=swap');

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Merriweather', serif !important;

	.bg-dark {
		color: azure;
	}
	.bg-light {
		background-color: #fafafaf5 !important;
	}
}
