#certificados {
	position: absolute;
	width: 100%;
	height: 100%;
}

section .titulo-certificados {
	text-align: center;
	margin: 2rem 0;
}
.titulo-certificados h2 {
	font-size: 5rem;
	font-weight: 600;
	margin-top: 10rem;
	text-shadow: 2px 2px 4px rgba(244, 233, 233, 0.5);
}

.figure {
	/* display: flex !important;
	flex-direction: row;
	justify-content: center; */
	display: flex !important;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 8rem;
	flex-wrap: wrap;
}

.figure-img {
	margin: 2rem;
}

/* Responsive */
/* media queries celular */
@media (max-width: 767px) {
	#certificados {
		margin-top: 1060rem;
		padding-bottom: 228rem;
	}
}
/* media queries tablet */
@media (min-width: 768px) and (max-width: 1023px) {
	#certificados {
		margin-top: 750rem;
		padding-bottom: 222rem;
	}
	section .titulo-certificados {
		margin: 10rem 0;
	}
	.titulo-certificados h2 {
		margin-top: 20rem;
	}
}
/* media queries desktop */
@media (min-width: 1024px) {
	#certificados {
		margin-top: 382rem;
		padding-bottom: 125rem;
	}
}
