.bg-dark {
	background-color: #003249b5 !important;
}
.bg-light {
	background-color: #9ad1d4a1 !important;
}

#certificados {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 80vh;
}

section .titulo-certificados {
	text-align: center;
	margin: 5rem 0;
}
.titulo-certificados h2 {
	font-size: 5rem;
	font-weight: 600;
	margin-top: 10rem;
	text-shadow: 2px 2px 4px rgba(244, 233, 233, 0.5);
}

.figure {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
}

.figure-img {
	margin: 2rem;
}

/* Responsive */
/* media queries celular */
@media (max-width: 767px) {
	#certificados {
		margin-top: 1025rem;
		padding-bottom: 228rem;
	}
}
/* media queries tablet */
@media (min-width: 768px) and (max-width: 1023px) {
	#certificados {
		margin-top: 675rem;
		padding-bottom: 220rem;
	}
	section .titulo-certificados {
		margin: 10rem 0;
	}
	.titulo-certificados h2 {
		margin-top: 20rem;
	}
}
/* media queries desktop */
@media (min-width: 1024px) {
	#certificados {
		margin-top: 626rem;
		padding-bottom: 209rem;
	}
}
